# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        node-version:
          - 10
          - 12
          - 14
          - 16
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: package.json
    - name: Set up Go
      uses: actions/setup-go@master
      id: go

    - name: Install Protoc
      uses: arduino/setup-protoc@master
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Dependencies
      run: |
        npm install
        npm run install:protoc

    - name: Generate gRPC Stubs
      run: npm run generate

    - name: Test
      run: npm test
      env:
        CI: true
